{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block body %}
    {% if user.is_authenticated  %}
        <div class="container">
            <h2 style="text-align: center;" >Добавление документа</h2>
            <form action="" method="post" class="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Сохранить</button>
            </form>
       </div>
        <style>
            input, select{
                width: 100%;
                padding: 10px;
                border-radius: 5px;
            }
        </style>
    {% else %}

    {% endif %}
{% endblock body %}